extends layout

block content
  h2#about
    |About Me
  p.
    I just graduated from Indiana University! Now to take on the somewhat daunting task of landing a job that is engaging and fulfilling. To that end, if you are looking for a smart, adaptable programmer to hire you should glance at my #[a(href='/resume') resume] and then get in touch to learn the things about me that can't fit on a one page document. 

  p.
    Beyond that, I am a person that loves new experiences, especially when they are shared with the kind of open-minded people I like to spend time with. Here are a few examples of the things I love:

  ul
    li Live Music
    li The Great Outdoors (especially when sunny weather and a hammock are involved)
    li Spinning Poi (check out youtube if you don't know what it is)
    li Cooking! I'm not that great at it yet but I'm on the grind trying to improve ;)