extends layout

block content
  h2#about
    |About Me
  p.
    I am a software engineer in Chicago that is passionate about elegant solutions. I enjoy functional programming and try to take a pragmatic approach. I'm trying to improve my design and project management skills, and I enjoy learning new programmin languages, frameworks, and paradigms and comparing them. 

  p.
    Beyond that, I am a person that loves new experiences, especially when they are shared with the kind of open-minded people I like to spend time with.