extends layout

block content
  h2#about
    |About Me
  p.
    I just started my career as a software engineer in Chicago. I am in the middle of the very rewarding process of learning a ton of new technologies very quickly due to the development stack at work being comprised mostly of technologies I had never used before.

  p.
    Beyond that, I am a person that loves new experiences, especially when they are shared with the kind of open-minded people I like to spend time with.