extends layout

block content
  h2 Contact Me
  p.
    The fastest way to contact me is by phone, but the easiest might be email. 
  h3
    a(href='tel:+13174138240')
      |(317) 413-8240
  h3
    a(href='mailto:rileyatodd@gmail.com')
      |rileyatodd@gmail.com