html
  head
    title Habit Tracker
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")

    meta(name="robot" content="index, follow")
    meta(name="description" content="An app for tracking the formation of habits")
    meta(name="keywords" content="Habits, tracking")
    meta(name="author" content="Riley A. Todd")
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  
  body
    div.container
      div#root
    script(src="/javascripts/habit-bundle.js")
