extends layout

block content
  h1
    |Welcome to my site!
  p
    |I made this site as a place to dump my ideas out, fiddle around with new web technologies, and display my work. 
  p
    i Please pardon the sparse content and lackluster design. I am still working on adding content and polish.
  h1 Thoughts

  .article
    include:md ../articles/my-first-npm-package.md

  .article
    include:md ../articles/HotkeyHijinks.md
