extends layout

block content
  h1
    |Welcome to my site!
  p
    |I made this site as a place to dump my ideas out, fiddle around with new web technologies, and display my work. 
  nm
  h1#thoughts.text-center.pb-4.border-b.border-black Thoughts

  .article
    include:md ../articles/my-first-npm-package.md

  .article
    include:md ../articles/HotkeyHijinks.md

  link(rel="stylesheet" href="/stylesheets/darcula.css")
  script(src="/javascripts/highlight.pack.js")
  script hljs.initHighlightingOnLoad()