extends layout

block content
  h1
    |Welcome to my site!
  p
    |I made this site as a place to dump my ideas out, fiddle around with new web technologies, and display my work. Check out my projects in the navbar or if you want to hire someone that is in love with learning new technologies have a look at my #[a(href='/resume') resume!]
  p
    i Please pardon the sparse content and occasional errors of this site. I am still working on adding content and polishing the design.
  h1 Thoughts

  h3 Learning to Love the Language of the Web
  p.
    Believe it or not, I am currently in the process of falling in love with JavaScript.
  p.
    Like many other people I have talked to, when I first started learning JS I continuously found myself wondering how anyone used this language productively. However, after embracing the functional aspects of the language rather than trying to squish it messily into the object oriented paradigms I was used to, my enjoyment of this language has improved dramatically and my code is cleaner too. A big part of this was reading #[a(href='http://www.amazon.com/JavaScript-Good-Parts-Douglas-Crockford/dp/0596517742') JavaScript: The Good Parts], which has helped me avoid the many common pitfalls of JavaScript such as global variables. It was also helpful in understanding the prototypal inheritance system of JavaScript as opposed to the classical inheritance I was used to from Java. 

  p.
    In the span of just a few weeks JavaScript has gone from something I reluctantly used for front end programming to something I find myself actually #[em wanting] to program in. So much so in fact, that the stack I chose for my new pet project #[a(href='/projects/habitRabbit') Habit Rabbit] is all JavaScript top to bottom! This is a liberating design choice because now I don't have to think at all about the format of my data and how it gets transfered between the different pieces of my app. It's all JSON all the time. The use of MongoDB was especially helpful for this because it freed me from the nightmares of ORM. Queries to the database are made with simple JavaScript calls and passing in an object that specifies what you're looking for.