extends layout

block content
  h1
    |Welcome to my site!
  p
    |I made this site as a place to dump my ideas out, fiddle around with new web technologies, and display my work.
  p
    i Please pardon the sparsity and occasional errors of this site. I am still working to add content and polish the design.
  h2#about
    |About Me
  p
    |I am currently less than 2 months away from completing my studies at Indiana University. I am majoring in business economics with a minor in computer science (although, I have taken many computer science classes beyond what is required for the minor)