doctype html
html
  head
    title Riley A Todd
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Personal Website of Riley A Todd")
    meta(name="author", content="Riley A. Todd")
    meta(name="robot", content="index, follow")
    link(rel="shortcut icon" href="/favicon.ico?v=2")

  body
    div.navbar
      a.navbar-brand(href="/#")
        |Riley A Todd
      div.navbar-right
        div.dropdown
          a.dropdown-toggle(data-toggle="dropdown")
            |Projects
            span.caret
          ul.dropdown-menu
            li
              a(href="/html/chicago-food-safety.html" data-toggle="collapse" data-target=".navbar-collapse")
                |Chicago Food Safety Map
            li
              a(href="/html/habit-tracker.html" data-toggle="collapse" data-target=".navbar-collapse")
                |Habit Tracker
    div.container
      block content
    div.footer
      div.container

    script(src='/javascripts/index.js')
