doctype html
html
  head
    title Riley A Todd
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="Personal Website of Riley A Todd")
    meta(name="author", content="Riley A. Todd")
    meta(name="robot", content="index, follow")
    link(rel="shortcut icon" href="/favicon.ico?v=2")
    script(src='/javascripts/index.js')

  body
    div.navbar
      a.navbar-brand(href="/#")
        |Riley A Todd
      a.menu-toggle(data-target="#site-nav" data-toggle-class="open")
        |menu
      div#site-nav
        div.close(data-toggle-class="open" data-target="#site-nav") 
          |&times;
        ul
          li
            a(href="/#thoughts" data-toggle-class="open" data-target="#site-nav")
              |thoughts
          li
            a(href="/html/chicago-food-safety.html")
              |food safety map
          li
            a(href="/html/chicago-food-safety.html")
              |lorem
          li
            a(href="/html/chicago-food-safety.html")
              |ipsum sumpin sumpin
      
              
    div.container
      block content
    div.footer
      div.container
