extends layout

block content
  div.row
    div.col-xs-6 
      h1 Riley A. Todd
    div.col-xs-6.text-right
      h5
        |(317) 413-8240
      h5
        a(href='mailto:rileyatodd@gmail.com') rileyatodd@gmail.com
      h5
        a(href='rileyatodd.com') rileyatodd.com
  p My story so far in reverse chronological order
  div.row
    div.col-xs-12
      h3 Work Experience
  div.row
    div.col-xs-4
      h4 Publicis Media
      h5 Aug 2016 - Present
    div.col-xs-8
      h4 Software Engineer
      p 
        |I'm working on an analytics platform for large scale advertising data 
        |using react, mongo, and elasticsearch.
  div.row
    div.col-xs-4
      h4 Healthcare Reasearch LLC
      h5 Jul 2015 - Jul 2016
    div.col-xs-8
      h4 Software Engineer
      p
        |Did everything necessary to bring features to life on both a public 
        |php site with over a million users and an internal analytics platform 
        |built on spring.
  div.row
    div.col-xs-12
      h3 Education
  div.row
    div.col-xs-4
      h4 Indiana University 
      |Aug 2011 - May 2015
    div.col-xs-8
      h4 B.S. in Economic Consulting
      p
        |This taught me a lot about econometrics and statistical analysis, 
        |as well as a little bit of game theory, and 
        |how to apply this knowledge in a business setting.
  div.row
    div.col-xs-12
      h3 Other Interests
      p
        |I like to spin poi to help me relax. 
        |Check out my website to see more of my projects and learn about what makes me tick!
