extends layout

block content
  div.resume
    div.space-between.v-center
      div 
        h1(style="font-size: 40px; margin-bottom: 18px;") Riley A. Todd
      div.text-right
        div(style="font-size: .8em").
          (317) 413-8240
        div(style="font-size: .8em")
          a(href='mailto:rileyatodd@gmail.com') rileyatodd@gmail.com
        div(style="font-size: .8em")
          a(href='rileyatodd.com') rileyatodd.com
    div.section(style="margin-top: .8em")
      div.space-between
        div 
          h2 Publicis Media
          div.subheader Sr. Software Engineer
        div.text-right
          div Aug 2016 - Present
          div Chicago, IL
      div
        p.
          I'm building a unified advertising platform that ingests large amounts of data and derives insights using advanced modeling techniques and visualizations. It also integrates with various services and partners to target consumers based on those insights.
        p.
          As the front end engineering lead, I design and build the architecture of our Angular application. I also work on the server and database layers using Rails, MongoDB, PostgreSQL, and ElasticSearch.
    div.section
      div.space-between
        div
          h2 Healthcare Reasearch LLC
          div.subheader Software Engineer
        div.text-right
          div Jul 2015 - Jul 2016
          div Chicago, IL
      div
        p.
          I created new features on both a public php site with over a million users and an internal analytics platform built in Java using the Spring framework.
    div.section
      div.space-between
        div 
          h2 GE Capital
          div.subheader 
            div Information Technology Leadership Program
        div.text-right
          div May 2014 - Jul 2014
          div New Orleans, LA
      div
        p.
          I created a risk assessment application using Angular, Spring, and PostgreSQL that automated a process that previously took a month to complete manually, but now takes only a few days.
    div.section
      div.space-between
        div 
          h2 Indiana University
          div.subheader 
            div B.S. in Economic Consulting
            div Computer Science Minor
        div.text-right
          div Aug 2011 - May 2015
          div Bloomington, IN
      div
        p.
          I became proficient in econometrics, statistical analysis, and game theory with a focus on applications in modern business.
        p.
          I mastered the fundamentals of data structures, algorithm analysis, distributed computing, and networks.
        div.subheader Assistant Instructor
        p.
          I conducted labs for systems programming and data structures classes. The position involved explaining complex subjects simply, and guiding students towards a deeper understanding of the subject matter.
    div
      div
        h3(style="margin-bottom: 8px;") Interests
        p(style="margin-bottom: 8px;").
          I practice functional programming, guitar, and poi spinning. 
          Please visit my website at rileyatodd.com to see more of my projects and writings.