extends layout

block content
  div.resume
    div.flex.justify-between
      div 
        h1(style="font-size: 40px; margin-bottom: 18px;") Riley A. Todd
      div.text-right
        div.text-sm.
          (317) 413-8240
        div.text-sm
          a(href='mailto:rileyatodd@gmail.com') rileyatodd@gmail.com
        div.text-sm
          a(href='rileyatodd.com') rileyatodd.com
    div.mt-3
      div.flex.justify-between.mb-2
        div 
          h2.font-bold Publicis Media
          div.italic Sr. Software Engineer
        div.text-right
          div Aug 2016 - Present
          div Chicago, IL
      div
        p.
          I'm building a global marketing platform to help clients develop insights about their customers. I've architected our Angular UI, driven features from the data modeling phase through delivery of a polished interface, revamped the security controls, and transformed the application from a frail monolith to a resilient, distributed system that is deployed in eight configurations across three continents.

        p.
          In addition to developing new features, I focus on security, reliability, and automation. It used to take two days to provision the infrastructure for a new instance of the application. I automated that processes using ansible and cloudformation and now it takes two hours. I saw that our teams were wasting effort writing similar code for each service, so I extracted common code to a shared client library. Our ingress policies were poorly defined until I implemented an API gateway to handle all incoming traffic. When our team members struggled to follow requests through our distributed architecture, I added standardized logging, monitoring, and tracing to improve visibility. I've refactored misguided data models, improved our continuous integration pipeline, implemented single sign on via ADFS, and built rich interfaces and data visualizations. Overcoming this wide array of challenges has been very satisfying.

    div.mt-10
      div.flex.justify-between.mb-2
        div
          h2.font-bold Healthcare Reasearch LLC
          div.italic Software Engineer
        div.text-right
          div Jul 2015 - Jul 2016
          div Chicago, IL
      div
        p.
          I created new features on both a public php site with over a million users and an internal analytics platform built in Java using the Spring framework.
    div.mt-10
      div.flex.justify-between.mb-2
        div 
          h2.font-bold GE Capital
          div.italic 
            div Information Technology Leadership Program
        div.text-right
          div May 2014 - Jul 2014
          div New Orleans, LA
      div
        p.
          I created a risk assessment application using Angular, Spring, and PostgreSQL that automated a months long analysis so that it could be done in a matter of days.
    div.mt-10
      div.flex.justify-between.mb-2
        div 
          h2.font-bold Indiana University
          div.italic
            div B.S. in Economic Consulting
            div Computer Science Minor
        div.text-right
          div Aug 2011 - May 2015
          div Bloomington, IN
    div.mt-6
      div
        h3.font-bold Interests
        p.mb-3.
          I enjoy exploring generative art, functional programming, and guitar. I also love playing tennis, basketball, and volleyball.