extends layout

block content
  div.row
    div.col-xs-6 
      h1 Riley A. Todd
    div.col-xs-6.text-right
      h5
        |(317) 413-8240
      h5
        a(href='mailto:rileyatodd@gmail.com') rileyatodd@gmail.com
      h5
        a(href='rileyatodd.com') rileyatodd.com
  h5 Enthusiastic Programmer Looking for Work Building Something Interesting
  div.row
    div.col-xs-12
      h3 Education
  div.row
    div.col-xs-4
      h4 Indiana University 
      |Aug 2011 - May 2015
    div.col-xs-8
      h4 Computer Science Minor
      p.
        #[b These are the studies that I am truly passionate about.] I learned about the benefits and complexities of distributed systems, the protocols that power networks, and how to develop algorithms to solve complex problems. 

      h4 B.S. in Economic Consulting
      p.
        This taught me a lot about econometrics and statistical analysis, as well as a little bit of game theory, and 
        a good general sense of how businesses operate and become successful.
  div.row
    div.col-xs-12
      h3 Work Experience
  div.row
    div.col-xs-4
      h4 Indiana University
      h5 Jan 2013 - May 2015
    div.col-xs-8
      h4 Undergraduate Instructor
      p.
        Taught the lab session of a data structures class. Guided students through implementing many different data structures in Python. Graded and provided feedback on students' code.
  div.row
    div.col-xs-4
      h4 GE Capital
      h5 Jun 2014 - Aug 2014
    div.col-xs-8
      h4 IT Leadership Program Intern
      p.
        Primary developer of a webapp that categorized IT risk data and provided interactive graphs for quick analysis. The development stack included PostgreSQL, Spring framework, and Angular.
  div.row
    div.-xs-12
      h3 Other Interests
  div.row
    p.
      I am fascinated by game development and am working on a game for Android. I also like to spin poi to help me relax. Check out my website to see more of my projects and learn about what makes me tick!