svg(width="100%" height="100%" viewBox="0 0 160 120" class="sine" version="1.1" xmlns="http://www.w3.org/2000/svg")
  path(d="M0 60  C 30 0, 50 0, 80 60 S 130 120, 160 60" fill="transparent")

//- .sineBar
//-   - for(var i = 0; i < 50; i ++)
//-     - include ./sine 
//- .sineBar.cosine
//-   - for(var i = 0; i < 50; i ++)
//-     - include ./sine 

//- document.querySelector('.sineBar:not(.cosine)')
//-         .classList.toggle('left')
//- document.querySelector('.sineBar.cosine')
//-         .classList.toggle('right')
//- document.querySelectorAll('.sineBar')
//-         .forEach(function(el) {el.classList.toggle('opaque')})

//- .sineBar {
//-   opacity: 0;
//-   position: absolute;
//-   bottom: 0;
//-   right: -50%;
//-   width: 200%;
//-   display: flex;
//-   stroke-width: 4;
//-   stroke: #fff;
//-   transition: all .5s linear;
//- }

//- .opaque.sineBar {
//-   opacity: 1;
//- }

//- .left {
//-   right: -100%;
//- }

//- .right {
//-   right: 0%;
//- }

//- .cosine svg {
//-   transform: translateX(50%);
//- }