body {
  font: 17px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}

a {
  cursor: pointer;
}

ul, ol {
  padding: 0;
  margin: 0;
}












































.navbar {
  background-color: #047CB0;
  color: #FFF;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  padding: 17px;
}

.navbar .navbar-brand {
  font-size: 18px;
  margin-right: auto;
  padding: 15px;
}

@media (max-width: 960px) {
  #site-nav {
    position: fixed;
    top: 0;
    left: 100%;
    margin: 0;
    background: #047CB0;
    min-width: 40%;
    overflow: hidden;
    
    transition: all 500ms ease-in-out;
    color: transparent !important;
  }

  #site-nav .menu {
    box-shadow: -5px 5px 8px 2px black;
  }

  #site-nav.open {
    left: 60%;
    color: inherit !important;
  }

  #site-nav.open .menu {
    box-shadow: -5px 5px 8px 2px black;
  }

  #site-nav ul {
    list-style: none;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
  }

  #site-nav li {
    margin: 10px auto;
    transition: all 1s ease-in-out;
  }

  #site-nav.open li {
    opacity: 1;
  } 

  #site-nav a {
    color: #fff;
    font-size: 25px;
    text-decoration: none;
  }

  #site-nav .close {
    font-size: 36px;
    line-height: 1;
    height: 40px;
    cursor: pointer;
    color: #fff;
    opacity:  0;
    width: 40px;
    text-align: center;
    transition: all 750ms ease-in-out;
  }

  #site-nav.open .close {
    transform: rotate(720deg);
    opacity: 1;
    display: block;
  }

  #site-nav.open + .menu-toggle {
    display: none;
  }

  #site-nav + .menu-toggle {
    display: block;
  }
}

.navbar .close {
  opacity: 0;
}
.navbar .menu-toggle {
  display: none;
}

.navbar-right {
  float: right;
  text-align: center;
}

.navbar ul {
  background-color: #047CB0;
}

.navbar li a {
  padding: 10px;
}

.navbar li {
  display: inline;
}










































.container {
  padding: 10px;
  margin: 10px auto;
  max-width: 720px;
}

.article {
  line-height: 1.55;
}

.article p {
  margin: 0 0 25px 0;
}

.article ul {
  list-style: none;
}

.article li {
  margin: 18px 0 0 0;
}

.article ul li:before {
  content: '\25b1';
  margin-left: -2em;
  margin-right: 1em;
}

.sectionDivider {
  text-align: center;
  border-bottom: solid 1px black;
  padding-bottom: 10px;
}

h2 {
  margin-bottom: .2em;
}

.text-right {
  text-align: right;
}

.flex,
.space-between,
.baseline,
.v-center {
  display: flex;
}

.space-between {
  justify-content: space-between;
}

.baseline {
  align-items: baseline;
}

.v-center {
  align-items: center;
}

.flex-start {
  align-items: flex-start;
}

h4 {
  margin: 5px 0;
}

.resume .subheader {
  font-weight: bold;
}

.resume p {
  margin: .3em 0 1.1em 0;
}

.resume h2 {
  margin-top: 0;
}

.resume .section {
  margin-top: 1.5em;
}

@media print {
  a {
    text-decoration: none;
    color: inherit;
  }

  div.navbar {
    display: none;
  }
}